@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}
/* LANDING  ////////////////////////////////////////////// */
/* header */
.header-container {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav ul li {
  margin-left: 2rem;
}
.main-nav ul li a {
  font-size: 2rem;
}
.main-nav ul li a:hover {
  border-bottom: 0.1rem solid #01acb4;
}
/* background */
#home {
  position: relative;
  min-height: 100vh;
  background: url("../img/home-whale.jpg") no-repeat center center/ cover;
}
#home::after {
  content: "";
  background-image: linear-gradient(#1a2644, #000);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* hero */
.hero-container {
  margin-top: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hero-content {
  max-width: 500px;
}
.dive-container {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  position: relative;
  min-height: 100vh;
  background: url("../img/about-waves.jpg") no-repeat center center/cover;
}
#about::after {
  content: "";
  background-image: linear-gradient(#1a2644, #000);
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.twin-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 40vh;
  text-align: left;
}
.twin-left,
.twin-right {
  padding: 1rem;
}
.twin-right {
  max-width: 50%;
  height: 100%;
}
.twin-left {
  max-width: 50%;
}
.twin-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

#contact {
  position: relative;

  background: url("https://source.unsplash.com/1600x900/?shore") no-repeat
    center center/cover;
}
#contact::after {
  content: "";
  background-image: linear-gradient(#1a2644, #000);
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.contact-form {
  width: 80%;
  margin: auto;
}
.contact-form,
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-group {
  padding: 0.5rem;
  width: 100%;
}

.form-group input,
.form-group textarea {
  border: none;
  background: #333;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  font-size: 1.5rem;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group textarea {
  text-align: left;
}
.form-group label {
  font-size: 2rem;
  color: #333;
}
footer {
  background-color: #111;
  color: #01acb4;
  text-align: center;
  padding: 2rem 1rem;
}

.footer-icons {
  width: 30%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-link:hover {
  color: white;
}
