/*  DEFAULTS ////////////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

a {
  text-decoration: none;
  color: #01acb4;
  transition: color 200ms ease-in-out;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

/* CONTAINERS /////////////////////////////////////////////////*/
.container {
  width: 80%;
  margin: auto;
}
.container > * {
  z-index: 10;
}
.section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0;
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.column {
  flex-direction: column;
}

/* TEXT //////////////////////////////////////////////////////// */
.logo {
  font-size: 3rem;
}
.primary-color {
  color: #01acb4;
}

.headline {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #01acb4;
}

/* ALIGNEMENT /////////////////////////////////////////// */

.content-left {
  text-align: left;
  padding-right: 3rem;
}
.content-right {
  text-align: right;
  padding-left: 3rem;
}

/* BUTTONS ///////////////////////////////////////////// */
.btn {
  background-color: #01acb4;
  color: white;
  font-size: 2rem;
  border-radius: 50px;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  transition: 200ms ease-in-out;
  transition-property: color, background-color;
}
.btn:hover {
  color: #01acb4;
  background-color: #333;
}
.btn-dark {
  color: #01acb4;
  background-color: #333;
}
.btn-dark:hover {
  background-color: #222;
}
.btn-small {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}
.btn-small:hover {
  color: #01acb4;
  background-color: white;
}

/* CARDS /////////////////////////////////////////////////// */
.card {
  padding: 1.5rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: #333;
  width: fit-content;
}
.icon-card i,
.icon-card h3,
.icon-card p {
  margin-bottom: 1rem;
}
.icon-card i {
  margin-top: 1rem;
  font-size: 3rem;
}

/* BACKGROUNDS///////////////////////////////////////////// */

.bg-primary {
  background-color: #01acb4;
  margin: auto;
  margin-top: 3rem;
}
